<form class="space-y-1 py-4 w-full mx-auto">
  <!-- 🔹 Imię i Nazwisko -->
  <label for="name" class="block font-bold">👤 Imię i Nazwisko: <span class="text-red-500">*</span></label>
  <input #nameInput="ngModel" type="text" id="name" name="name" [(ngModel)]="order.customerName" required
         class="w-full border border-gray-300 rounded-md p-2 mt-1 focus:ring-2 focus:ring-green-300 "
         [ngClass]="{'border-red-500': nameInput.touched && nameInput.invalid}"
         >

  @if (nameInput.touched && nameInput.invalid) {
    <p class="text-red-500 text-xs mt-1">
      Imię nie może być puste.
    </p>
  }

<!-- 🔹 Telefon -->
<label for="phone" class="block font-bold mt-3">📞 Telefon: <span class="text-red-500">*</span></label>

<div class="relative w-full">
  <span class="absolute inset-y-0 left-4 flex items-center text-gray-500  h-full">+48</span>
  <input #phoneInput="ngModel" matInput appOnlyDigits type="tel"   pattern="[0-9]*" id="phone" name="phone" [(ngModel)]="order.phone" 
         class="w-full pl-12 border border-gray-300 rounded-md py-2  focus:ring-2 focus:ring-green-300 h-10"
         minlength="9" maxlength="9" required
         [ngClass]="{'border-red-500': phoneInput.touched && phoneInput.invalid}"
         >
</div>



  @if (phoneInput.touched && phoneInput.invalid && (order.phone?.toString()?.length || 0) < 9) {
    <p class="text-red-500 text-xs mt-1">
      Numer telefonu musi mieć 9 cyfr.
    </p>
  }

  <!-- 🔹 Wybór daty dostawy -->
  <div role="group" aria-label="Dzień dostawy" class="block font-bold mt-3">📅 Dzień dostawy: <span class="text-red-500">*</span></div>
  <div class="border border-gray-300 rounded-md p-2 focus:ring-2 focus:ring-green-300">
    <div class="space-y-2">
      @for (option of availableDates; track option.date.getTime()) {
      <div class="flex items-center">
        <input type="radio"
        [id]="option.date"
        name="orderDate"
        [checked]="isDateSelected(option.date)"
        (change)="setOrderDate(option.date)">
        <label [for]="option.date" class="ml-2">
          {{ option.date | formatDate }}
          @if (option.note) {
            <span class="block text-xs text-gray-500">({{ option.note }})</span>
          }
        </label>
      </div>
      }
    </div>
  </div>

  <!-- 🔹 Uwagi -->
  <label for="note" class="block font-bold  mt-3">Uwagi:</label>
  <textarea id="note" name="note" [(ngModel)]="order.note" maxlength="200"
            class="w-full border border-gray-300 rounded-md p-2 mt-1  focus:ring-2 focus:ring-green-300"></textarea>

  <!-- 🔹 Zamawiane chleby -->
  @if (order.items.length > 0) {
    <h3 class="font-bold  mt-3">🥖 Zamawiane chleby: <span class="text-red-500">*</span></h3>
  }
  @for (item of order.items; track item.breadId; let i = $index) {
  <div class="flex items-center justify-between gap-3 p-2 bg-gray-100 rounded-lg shadow-sm">

    <!-- Wybór chleba -->
    <select (change)="updateAvailableBreads()" [(ngModel)]="item.breadId" [name]="'bread' + i"
            class="w-2/3 p-2 bg-white border rounded-md focus:ring-2 focus:ring-green-300 text-sm">
      @for (b of availableBreads; track b.breadId) {
        <option [value]="b.breadId" [disabled]="b.disabled">
          {{ b.name }}
        </option>
      }
    </select>

    

    <!-- Ilość chleba -->

      <button type="button" (click)="decreaseQuantity(i)" [disabled]="item.quantity <= 1"
              class=" text-white px-3 py-1 bg-red-500  rounded-md hover:bg-red-600 disabled:opacity-50">
        -
      </button>
      <span class="text-black  font-bold text-center">{{ item.quantity }}</span>
      <button type="button" (click)="increaseQuantity(i)" [disabled]="item.quantity >= 30"
              class=" text-white px-3 py-1 bg-green-500  rounded-md hover:bg-green-600 disabled:opacity-50">
        +
      </button>
    

    <!-- Usuń chleb -->
    <button type="button" (click)="removeBreadChoice(i)"
            class="bg-red-500 text-white px-3 py-1 rounded-md hover:bg-red-600">
       Usuń
    </button>

  </div>
  }

  <!-- 🔹 Powiększony Przycisk "Dodaj Chleb" -->
  <button type="button" (click)="addBreadChoice()"
          class="w-full bg-green-500 font-bold text-white py-2 rounded-md mt-4 hover:bg-green-600">
    🍞 Dodaj kolejny chleb
  </button>

  @if (order.items.length === 0) {
    <p class="text-red-500 text-xs mt-1">
      Musisz dodać co najmniej jeden chleb.
    </p>
  }
</form>
